<div class="container-fluid main-scroll">
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Cloud API Test</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item"><a [routerLink]="" (click)="apiClients()">Clients</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item active">Cloud-Api-Modules</li>
      </ol>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12 col-xlg-12 col-md-12">
      <div class="card">
        <div class="card-block">
          <ng-multiselect-dropdown name="projects" [(ngModel)]="projectNames" [placeholder]="'Select Projects'" [data]="projects" [settings]="dropdownSettings" (onSelectAll)="onSelectAll($event)" (click)="changeProject()" (onSelect)="onProjectSelect($event)"></ng-multiselect-dropdown>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="tab tabView" role="tabpanel">
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a *ngFor="let tabs of tabslist;let i=index;" (click)="getTabName(tabs)" [ngClass]="{'active': i == 0}" class="nav-item nav-link" id="nav-home-tab{{i}}" data-toggle="tab" href="'#'{{tabs}}" role="tab" aria-controls="nav-home" aria-selected="true">{{tabs}}</a>
    </div>
    <div class="tab-content">
      <div class="col-md-12">&nbsp;</div>
      <div class="row" id="Tickets">
        <div class="col-xs-12 col-sm-3" *ngFor="let list of dataTickets; let i = index">
          <div class="dashboard-stats__item dashboard-stats__item_light-blue" (click)="selectedApiModule(list.name)">
            <!--<i class="fa fa-eur"></i>-->
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <h3 class="dashboard-stats__title">
              <span class="data-title">{{list.name}}</span>
            </h3>
          </div>
        </div>
      </div>
      </div>
  </div>
  <br />
  <!-- <div class="row" id="Tickets">
    <div class="col-xs-12 col-sm-3" *ngFor="let list of dataTickets; let i = index">
      <div class="dashboard-stats__item dashboard-stats__item_light-blue" (click)="selectedApiModule(list.name)"> -->
        <!--<i class="fa fa-eur"></i>-->
        <!-- <i class="fa fa-cogs" aria-hidden="true"></i>
        <h3 class="dashboard-stats__title">
          <span class="data-title">{{list.name}}</span>
        </h3>
      </div>
    </div>
  </div> -->
</div>
