.page-titles {
    background: #ffffff;
    margin: 0 -15px 32px;
    padding: 15px;
    -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .row.page-titles {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .page-titles .breadcrumb {
    padding: 0px;
    background: transparent;
  }
  
  .breadcrumb {
    margin-bottom: 0px;
  }
  #btn-active{
    display:none !important;
  }
  .page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: " \2192";
    color: #a6b7bf;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 10px;
  }