<div class="container-fluid">
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
        <li class="breadcrumb-item active">Settings</li>
        <li class="breadcrumb-item active">Change Password</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7 col-xlg-8 col-md-6">
      <div class="card">
        <div class="card-block">
          <h5 class="h5-color">Change Password</h5>
          <form [formGroup]="changepasswordForm" class="form-material" (ngSubmit)="onUpdatePasswordSubmit()">
            <br />
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-5 col-form-label">Old Password</label>
                  <input type="password" [(ngModel)]="oldpassword" formControlName="oldPassword"
                    class="form-control form-control-line col-sm-7"
                    [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />

                  <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.oldPassword.errors.required" class="error-defined">Old Password is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-5 col-form-label">New Password</label>
                  <input type="password" [(ngModel)]="newpassword" formControlName="newPassword"
                    class="form-control form-control-line col-sm-7"
                    [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />

                  <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors.required" class="error-defined">New Password is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-5 col-form-label">Confirm Password</label>
                  <input type="password" [(ngModel)]="confirmpassword" formControlName="confirmPassword"
                    class="form-control form-control-line col-sm-7"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />

                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required" class="error-defined">Confirm Password is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="button" (click)="close()" class="btn btn-info">Close</button>&nbsp;
                <button type="submit" class="btn btn-info">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>