<div class="container-fluid">
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/clients']">{{clientSelected}}</a></li>
        <li class="breadcrumb-item active">Add Project Version</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-xlg-12 col-md-12">
      <div class="card">
        <div class="card-block">
          <h5 class="h5-color">Add Project Version</h5>
          <br/>
          <form [formGroup]="addProjectVersionForm" class="form-material" (ngSubmit)="onProjectVersionSubmit()">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-4 col-form-label">Region</label>
                  <select [(ngModel)]='region_list' (click)="onRegionSelect()" formControlName="regionList" class="form-control form-control-line col-sm-8" [ngClass]="{ 'is-invalid': submitted && f.regionList.errors }">
                    <option [value]="">Select</option>
                    <option *ngFor="let list of regions" value={{list.region}}>{{list.region}}</option>
                  </select>
                  <div *ngIf="submitted && f.regionList.errors" class="invalid-feedback">
                    <div *ngIf="f.regionList.errors.required" class="error-defined">Region is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-5 col-form-label">Project Name</label>
                  <select [(ngModel)]='project_name' (click)="onProjectSelect()" formControlName="projectName" class="form-control form-control-line col-sm-7" [ngClass]="{ 'is-invalid': submitted && f.projectName.errors }">
                    <option [value]="">Select</option>
                    <option *ngFor="let list of projectNames" value={{list.projectName}}>{{list.projectName}}</option>
                  </select>
                  <div *ngIf="submitted && f.projectName.errors" class="invalid-feedback">
                    <div *ngIf="f.projectName.errors.required" class="error-defined">Project Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-4 col-form-label">Project Version</label>
                  <input type="text" [(ngModel)]="project_version" formControlName="projectVersion" class="form-control form-control-line col-sm-8" [ngClass]="{ 'is-invalid': submitted && f.projectVersion.errors }" />

                  <div *ngIf="submitted && f.projectVersion.errors" class="invalid-feedback">
                    <div *ngIf="f.projectVersion.errors.required" class="error-defined">Project Version is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-5 col-form-label">Embedded dbversion</label>
                  <input type="text" [(ngModel)]="embed_version" formControlName="embeddedDBversion" class="form-control form-control-line col-sm-7" [ngClass]="{ 'is-invalid': submitted && f.embeddedDBversion.errors }" />

                  <div *ngIf="submitted && f.embeddedDBversion.errors" class="invalid-feedback">
                    <div *ngIf="f.embeddedDBversion.errors.required" class="error-defined">Embedded dbversion is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-4 col-form-label">DB Version</label>
                  <input type="text" [(ngModel)]="db_version" formControlName="dbversion" class="form-control form-control-line col-sm-8" [ngClass]="{ 'is-invalid': submitted && f.dbversion.errors }" />

                  <div *ngIf="submitted && f.dbversion.errors" class="invalid-feedback">
                    <div *ngIf="f.dbversion.errors.required" class="error-defined">DB Version is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-5 col-form-label">SW Version</label>
                  <input type="text" [(ngModel)]="sw_version" formControlName="swversion" class="form-control form-control-line col-sm-7" [ngClass]="{ 'is-invalid': submitted && f.swversion.errors }" />

                  <div *ngIf="submitted && f.swversion.errors" class="invalid-feedback">
                    <div *ngIf="f.swversion.errors.required" class="error-defined">SW Version is required</div>
                  </div>
                </div>
              </div>


              <div class="col-sm-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-4 col-form-label">Bin File</label>
                  <input type="file" [(ngModel)]="bin_file" (change)="handleFileSelect($event)" accept=".bin" id="fileinput" formControlName="binFile" class="form-control form-control-line col-sm-8" [ngClass]="{ 'is-invalid': submitted && f.binFile.errors }" />

                  <div *ngIf="submitted && f.binFile.errors" class="invalid-feedback">
                    <div *ngIf="f.binFile.errors.required" class="error-defined">Bin File is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-5 col-form-label">Signature Key</label>
                  <textarea type="text" [(ngModel)]="signature_key" formControlName="signatureKey" class="form-control form-control-line col-sm-7" [ngClass]="{ 'is-invalid': submitted && f.signatureKey.errors }" [attr.disabled]="true" style="background: #ddd;padding-left:1%;"></textarea>

                  <div *ngIf="submitted && f.signatureKey.errors" class="invalid-feedback">
                    <div *ngIf="f.signatureKey.errors.required" class="error-defined">Signature Key is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-sm-4 col-form-label">Zip File</label>
                  <input type="file" [(ngModel)]="zip_file" (change)="handleZipFile($event)" accept=".zip" formControlName="zipFile" class="form-control form-control-line col-sm-8" [ngClass]="{ 'is-invalid': submitted && f.zipFile.errors }" />

                  <div *ngIf="submitted && f.zipFile.errors" class="invalid-feedback">
                    <div *ngIf="f.zipFile.errors.required" class="error-defined">Zip File is required</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group form-inline">
                  <label>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="check_value" formControlName="allowDownload" value="" class="form-control-line">&nbsp;&nbsp;Allow Download</label>
                </div>
              </div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="button" (click)="close()" class="btn btn-info">Close</button>&nbsp;
                <button type="submit" class="btn btn-info">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

