<div class="container-fluid">
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item"><a [routerLink]="['/admin-dashboard']">Admin</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item active">Log View</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card-counter bg-danger info hover-cursor" (click)="searchlogView()">
        <i class="fa fa-history"></i>
        <span class="count-name">Search Log</span>
        <!--<span class="count-numbers">12</span>-->
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter bg-info info hover-cursor" (click)="genericView()">
        <i class="fa fa-history"></i>
        <span class="count-name">Generic Log</span>
        <!--<span class="count-numbers">2000</span>-->
      </div>
    </div>

  </div>
</div>
