<div class="container-fluid">
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item active">Admin</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card-counter info hover-cursor" (click)="clientsView()">
        <i class="fa fa-users"></i>
        <span class="count-name">Clients</span>
        <!--<span class="count-numbers">12</span>-->
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter bg-green info hover-cursor" (click)="userView()">
        <i class="fa fa-cogs"></i>
        <span class="count-name">Accessibility</span>
        <!--<span class="count-numbers">2000</span>-->
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter bg-purple info hover-cursor" (click)="changeHistory()">
        <i class="fa fa-history" aria-hidden="true"></i>
        <span class="count-name">Change History</span>
        <!-- <span class="count-numbers">2000</span> -->
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter bg-dark-blue info hover-cursor" (click)="addApi()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="count-name">Add/Edit API</span>
        <!--<span class="count-numbers">2000</span>-->
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter bg-red info hover-cursor" (click)="viewrawcapture()">
        <i class="fa fa-database" aria-hidden="true"></i>
        <span class="count-name">Raw capture Data</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter bg-yellow info hover-cursor" (click)="stagingdata()">
        <i class="fa fa-database" aria-hidden="true"></i>
        <span class="count-name">Staging Data</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter info hover-cursor" (click)="cec_ediddata()">
        <i class="fa fa-database" aria-hidden="true"></i>
        <span class="count-name">CEC-EDID Data</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter bg-dark-blue info hover-cursor" (click)="ClearDefaultBoxIdLogs()">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="count-name">Update Default Boxid</span>
        <!--<span class="count-numbers">2000</span>-->
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter bg-dark-blue info hover-cursor" (click)="importprojectfromprod()" >
        <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
        <span class="count-name" style="position: absolute; font-size: 1.1rem; display: block; cursor: pointer;margin-left: 100px; ">Import Project From Production</span>
        <!--<span class="count-numbers">2000</span>-->
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter info hover-cursor" (click)="cec_edidHistory()" style="background: blueviolet;">
        <i class="fa fa-history" aria-hidden="true"></i>
        <span class="count-name">CEC-EDID History</span>
      </div>
    </div>
  </div>
</div>
