<div class="container-fluid">
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item active">Admin</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <div class="card-counter info hover-cursor" (click)="clientsView()">
        <i class="fa fa-users"></i>
        <span class="count-name">Projects</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter bg-green info hover-cursor" (click)="userView()">
        <i class="fa fa-cogs"></i>
        <span class="count-name">Accessibility</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter info hover-cursor" (click)="changeHistory()" style="background: darkcyan;">
        <i class="fa fa-history" aria-hidden="true"></i>
        <span class="count-name">Change History</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter info hover-cursor" (click)="addApi()" style="background: cadetblue;">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="count-name">Add/Edit API</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter info hover-cursor" (click)="ClearDefaultBoxIdLogs()" style="background: darkgoldenrod;">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span class="count-name">Update Default Boxid</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter info hover-cursor" (click)="importprojectfromprod()" style="background-color: dimgrey;">
        <i class="fa fa-upload" aria-hidden="true"></i>
        <span class="count-name"
          style="position: absolute; font-size: 1.1rem; display: block; cursor: pointer;margin-left: 100px; ">Import
          Project</span>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="card-counter info hover-cursor" (click)="cec_edidHistory()" style="background: brown;">
        <i class="fa fa-history" aria-hidden="true"></i>
        <span class="count-name">Data Update History</span>
      </div>
    </div>
  </div>
</div>
