<div class="container-fluid main-scroll">
      <div class="row page-titles">
        <div class="col-md-12 col-12 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="" (click)="dashboard()">Home</a></li>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-7 col-xlg-8 col-md-6">
          <div class="card">
            <div class="card-block">
              <h5 class="h5-color">Profile Details</h5>
              <form [formGroup]="profileForm" class="form-material" (ngSubmit)="onUpdateProfileSubmit()">
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <div class="gradientBlue">
                      <div id="profile-container">
                        <img id="profileImage" [src]="profilePicture" />
                      </div>
                      <input type="file" id="imageUpload" (change)="ValidateSize($event)" name="profile_photo" placeholder="Photo" required="" accept="image/*" capture>
                      <br/>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group form-inline">
                      <label class="labelsubSpan col-sm-5 col-form-label">Role</label>
                      <input type="text" [(ngModel)]='role' formControlName="Role" class="form-control form-control-line col-sm-7 " [ngClass]="{ 'is-invalid': submitted && f.Role.errors }" [attr.disabled]="true" />
                      <div *ngIf="submitted && f.Role.errors" class="invalid-feedback">
                        <div *ngIf="f.Role.errors.required" class="error-defined">Role is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group form-inline">
                      <label class="labelsubSpan col-sm-5 col-form-label">Username</label>
                      <input type="text" [(ngModel)]="username" formControlName="userName" class="form-control form-control-line col-sm-7 " [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" [attr.disabled]="true" />
                      <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div *ngIf="f.userName.errors.required" class="error-defined">Username is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group form-inline">
                      <label class="labelsubSpan col-sm-5 col-form-label">First Name</label>
                      <input type="text" [(ngModel)]="firstname" formControlName="firstName" class="form-control form-control-line col-sm-7" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />

                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required" class="error-defined">First Name is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group form-inline">
                      <label class="labelsubSpan col-sm-5 col-form-label">Last Name</label>
                      <input type="text" [(ngModel)]="lastname" formControlName="lastName" class="form-control form-control-line col-sm-7" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />

                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required" class="error-defined">Last Name is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group form-inline">
                      <label class="labelsubSpan col-sm-5 col-form-label">Email</label>
                      <input type="text" [(ngModel)]="email" formControlName="eMail" class="form-control form-control-line col-sm-7" [ngClass]="{ 'is-invalid': submitted && f.eMail.errors }" />

                      <div *ngIf="submitted && f.eMail.errors" class="invalid-feedback">
                        <div *ngIf="f.eMail.errors.required" class="error-defined">Email is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group form-inline">
                      <label class="labelsubSpan col-sm-5 col-form-label">Phone Number</label>
                      <input type="text" [(ngModel)]="phonenumber" formControlName="phoneNumber" class="form-control form-control-line col-sm-7" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                      <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.required" class="error-defined">Phone Number is required</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row text-right">
                  <div class="col-sm-12">
                    <button type="button" (click)="close()" class="btn btn-secondary">Close</button>&nbsp;
                    <button type="submit" class="btn btn-info">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

</div>
