<div class="container-fluid main-scroll">
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-12 col-12 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Cloud API Test</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item"><a [routerLink]="" (click)="apiClients()">Clients</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item"><a [routerLink]="" (click)="cloudMod()">Cloud Api Modules</a></li>
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        <li class="breadcrumb-item active">Cloud DB API</li>
      </ol>
    </div>
  </div>
  <br />
  <div class="row">
    <!--<div class="col-lg-12 col-xlg-12 col-md-12">
      <div class="card">
        <div class="card-block">
          <ng-multiselect-dropdown name="projects" [(ngModel)]="projectNames" [placeholder]="'Select Projects'" [data]="projects" [settings]="dropdownSettings" (onSelectAll)="onSelectAll($event)" (click)="changeProject()" (onSelect)="onProjectSelect($event)"></ng-multiselect-dropdown>
        </div>
      </div>
    </div>-->
  </div>
  <div class="row">
    <div class="col-xl-4 col-md-4 noneProjects">
      <div class="card">
        <div class="card-block">
          <select [(ngModel)]='api_list' class="form-control selectDrop" (change)="changeApi()">
            <option [value]=null>Select</option>
            <option *ngFor="let list of apis" value={{list}}>{{list}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-6">
      <div class="card">
        <div class="card-block">
          <ng-multiselect-dropdown name="projects" [(ngModel)]="projectNames" [placeholder]="'Select Projects'"
            [data]="projects" [settings]="dropdownSettings" (onSelectAll)="onSelectAll($event)"
            (click)="changeProject()" (onSelect)="onProjectSelect($event)"></ng-multiselect-dropdown>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-md-2 hideData noneProjects">
      <div class="card" *ngIf="isVersionDataVisible">
        <div class="card-block">
          <select id="version" [(ngModel)]='version_list' class="form-control" (change)="changeVersion()">
            <option [value]=null>Versions</option>
            <option *ngFor="let v of dbVersion" value={{v}}>{{v}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div>
    <p *ngIf="noData">
      <b>{{ApiForm}}</b> API is not assigned for project <b>{{tabName}}</b>
    </p>
  </div>
  <br />
  <div class="row noDataExists">
    <div class="col-xl-12 col-md-12">
      <div class="card card-pd">
        <div class="card-block">
          <h5 class="h5-color">{{ApiForm}}
            <label style="float:right;color: black;font-size: 14px;">
              Response Time: {{responsetime}}
            </label>
          </h5>
          <form [formGroup]="apiregisterForm" class="form-material" (ngSubmit)="onRegisterSearchSubmit()"
            *ngIf="isRegister">
            <br />
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Signature Key</label>
                  <textarea type="text" rows="2" [(ngModel)]="sign_key" formControlName="SignatureKey"
                    class="form-control disable form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': regsubmitted && g.SignatureKey.errors }"></textarea>
                  <div *ngIf="regsubmitted && g.SignatureKey.errors" class="invalid-feedback">
                    <div *ngIf="g.SignatureKey.errors.required">Signature Key is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Device ID</label>
                  <span style="pointer-events: none;">Portal_</span>
                  <textarea rows="1" type="text" maxlength="25" [(ngModel)]="device_id" formControlName="deviceId"
                    class="form-control form-control-line col-sm-6"
                    [ngClass]="{ 'is-invalid': regsubmitted && g.deviceId.errors }"></textarea>
                  <!-- <input type="text" [(ngModel)]="device_id" formControlName="deviceId" class="form-control form-control-line col-sm-8" [ngClass]="{ 'is-invalid': regsubmitted && g.deviceId.errors }"/> -->
                  <div *ngIf="regsubmitted && g.deviceId.errors" class="invalid-feedback">
                    <div *ngIf="g.deviceId.errors.required">Device ID is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">DB Version</label>
                  <select [(ngModel)]='db_version' (change)="dbVersionChange()" formControlName="dbVersion"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': regsubmitted && g.dbVersion.errors }">
                    <option [value]=null>Select</option>
                    <option *ngFor="let list of dbVersion" value={{list}}>{{list}}</option>
                  </select>
                  <div *ngIf="regsubmitted && g.dbVersion.errors" class="invalid-feedback">
                    <div *ngIf="g.dbVersion.errors.required">DB Version is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Country Code</label>
                  <input type="text" [(ngModel)]="country_code" formControlName="countryCode"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': regsubmitted && g.countryCode.errors }" />
                  <div *ngIf="regsubmitted && g.countryCode.errors" class="invalid-feedback">
                    <div *ngIf="g.countryCode.errors.required">Country Code is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiloginForm" class="form-material" (ngSubmit)="onLoginSearchSubmit()" *ngIf="isLogin">
            <br />
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-3">Guid</label>
                  <textarea rows="2" type="text" [(ngModel)]="guid_data" formControlName="Guid"
                    class="form-control form-control-line col-sm-9"
                    [ngClass]="{ 'is-invalid': logsubmitted && j.Guid.errors }"></textarea>
                  <div *ngIf="logsubmitted && j.Guid.errors" class="invalid-feedback">
                    <div *ngIf="j.Guid.errors.required">Guid is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiCurrentDbForm" class="form-material" (ngSubmit)="onCurrentDbSearchSubmit()"
            *ngIf="isCurrentDb">
            <br />
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-5">Datatype</label>
                  <input type="text" [(ngModel)]="current_datatype" [attr.disabled]="true"
                    formControlName="CurrentDatatype" class="form-control form-control-line col-sm-7 disableClass"
                    [ngClass]="{ 'is-invalid': currentdbsubmitted && r.CurrentDatatype.errors }" />
                  <div *ngIf="currentdbsubmitted && r.CurrentDatatype.errors" class="invalid-feedback">
                    <div *ngIf="r.CurrentDatatype.errors.required">Datatype is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiLatestDbForm" class="form-material" (ngSubmit)="onLatestDbSearchSubmit()"
            *ngIf="isLatestDb">
            <br />
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-5">Datatype</label>
                  <input type="text" [(ngModel)]="latest_datatype" [attr.disabled]="true"
                    formControlName="LatestDatatype" class="form-control form-control-line col-sm-7 disableClass"
                    [ngClass]="{ 'is-invalid': latestdbsubmitted && t.LatestDatatype.errors }" />
                  <div *ngIf="latestdbsubmitted && t.LatestDatatype.errors" class="invalid-feedback">
                    <div *ngIf="t.LatestDatatype.errors.required">Datatype is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiDownloadStatsForm" class="form-material" (ngSubmit)="onDownloadStatsSubmit()"
            *ngIf="isDownloadStats">
            <br />
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-7">Download Status</label>
                  <select [(ngModel)]='down_status' formControlName="DownloadStatus"
                    class="form-control form-control-line col-sm-5"
                    [ngClass]="{ 'is-invalid': downStatsubmitted && v.DownloadStatus.errors }">
                    <option [value]=null>Select</option>
                    <option value=0>0</option>
                    <option value=1>1</option>
                  </select>
                  <div *ngIf="downStatsubmitted && v.DownloadStatus.errors" class="invalid-feedback">
                    <div *ngIf="v.DownloadStatus.errors.required">Download Status is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiDownloadBinForm" class="form-material" (ngSubmit)="onDownloadBinSearchSubmit()"
            *ngIf="isDownloadBin">
            <br />
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-5">Datatype</label>
                  <input type="text" [attr.disabled]="true" [(ngModel)]="data_type" formControlName="Datatype"
                    class="form-control form-control-line col-sm-7 disableClass"
                    [ngClass]="{ 'is-invalid': binsubmitted && k.Datatype.errors }" />
                  <div *ngIf="binsubmitted && k.Datatype.errors" class="invalid-feedback">
                    <div *ngIf="k.Datatype.errors.required">Datatype is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Download Bin</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiDownloadZipForm" class="form-material" (ngSubmit)="onDownloadZipSearchSubmit()"
            *ngIf="isDownloadZip">
            <br />
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-5">Datatype</label>
                  <input type="text" [attr.disabled]="true" [(ngModel)]="zip_datatype" formControlName="ZipDatatype"
                    class="form-control form-control-line col-sm-7 disableClass"
                    [ngClass]="{ 'is-invalid': zipsubmitted && m.ZipDatatype.errors }" />
                  <div *ngIf="zipsubmitted && m.ZipDatatype.errors" class="invalid-feedback">
                    <div *ngIf="m.ZipDatatype.errors.required">Datatype is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Download Zip</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiAutosearchForm" class="form-material" (ngSubmit)="onApiAutoSearchSubmit()"
            *ngIf="isAutoSearch">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Device</label>
                  <select [(ngModel)]='auto_device' formControlName="AutoDevice"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': autosubmitted && n.AutoDevice.errors }">
                    <option [value]=null>Select</option>
                    <option *ngFor="let list of devices" value={{list}}>{{list}}</option>
                  </select>
                  <div *ngIf="autosubmitted && n.AutoDevice.errors" class="invalid-feedback">
                    <div *ngIf="n.AutoDevice.errors.required">Device is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">EDID</label>
                  <textarea rows="2" type="text" [(ngModel)]="auto_edid" formControlName="AutoEdid"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': autosubmitted && n.AutoEdid.errors }"></textarea>
                  <div *ngIf="autosubmitted && n.AutoEdid.errors" class="invalid-feedback">
                    <div *ngIf="n.AutoEdid.errors.required">EDID is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Vendor ID</label>
                  <input type="text" [(ngModel)]="auto_vendorId" formControlName="AutovendorId"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': autosubmitted && n.AutovendorId.errors }" />
                  <div *ngIf="autosubmitted && n.AutovendorId.errors" class="invalid-feedback">
                    <div *ngIf="n.AutovendorId.errors.required">Vendor ID is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">OSD</label>
                  <input type="text" [(ngModel)]="auto_osd" formControlName="AutoOSD"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': autosubmitted && n.AutoOSD.errors }" />
                  <div *ngIf="autosubmitted && n.AutoOSD.errors" class="invalid-feedback">
                    <div *ngIf="n.AutoOSD.errors.required">OSD is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">&nbsp;</div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiModelsearchForm" class="form-material" (ngSubmit)="onApiModelSearchSubmit()"
            *ngIf="isModelSearch">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Device</label>
                  <select [(ngModel)]='device_list' formControlName="Device"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': submitted && h.Device.errors }">
                    <option [value]=null>Select</option>
                    <option *ngFor="let list of devices" value={{list}}>{{list}}</option>
                  </select>
                  <div *ngIf="submitted && h.Device.errors" class="invalid-feedback">
                    <div *ngIf="h.Device.errors.required">Device is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Brand</label>
                  <input type="text" [(ngModel)]="brand_data" formControlName="Brand"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': submitted && h.Brand.errors }" />
                  <div *ngIf="submitted && h.Brand.errors" class="invalid-feedback">
                    <div *ngIf="h.Brand.errors.required">Brand is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Model</label>
                  <input type="text" [(ngModel)]="model_data" formControlName="Model"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': submitted && h.Model.errors }" />
                  <div *ngIf="submitted && h.Model.errors" class="invalid-feedback">
                    <div *ngIf="h.Model.errors.required">Model is required</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">&nbsp;</div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiDeltasearchForm" class="form-material" (ngSubmit)="onApiDeltaSearchSubmit()"
            *ngIf="isDeltaSearch">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Device</label>
                  <select [(ngModel)]='delta_device' formControlName="deltaDevice"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': deltasubmitted && p.deltaDevice.errors }">
                    <option [value]=null>Select</option>
                    <option *ngFor="let list of devices" value={{list}}>{{list}}</option>
                  </select>
                  <div *ngIf="deltasubmitted && p.deltaDevice.errors" class="invalid-feedback">
                    <div *ngIf="p.deltaDevice.errors.required">Device is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Brand</label>
                  <input type="text" [(ngModel)]="delta_brand" formControlName="deltaBrandId"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': deltasubmitted && p.deltaBrandId.errors }" />
                  <div *ngIf="deltasubmitted && p.deltaBrandId.errors" class="invalid-feedback">
                    <div *ngIf="p.deltaBrandId.errors.required">Brand is required</div>
                  </div>
                </div>
              </div>
              <!--<div class="col-md-6">
        <div class="form-group form-inline">
          <label class="labelsubSpan col-form-label col-sm-4">DB Version</label>
          <input type="text" [(ngModel)]="delta_dbVersion" formControlName="deltaDbVersion" class="form-control form-control-line col-sm-8" [ngClass]="{ 'is-invalid': deltasubmitted && p.deltaDbVersion.errors }" />
          <div *ngIf="deltasubmitted && p.deltaDbVersion.errors" class="invalid-feedback">
            <div *ngIf="p.deltaDbVersion.errors.required">DB Version is required</div>
          </div>
        </div>
      </div>-->
              <div class="col-md-6">&nbsp;</div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiFeedbacksearchForm" class="form-material" (ngSubmit)="onApiFeedbackSearchSubmit()"
            *ngIf="isFeedbackSearch">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Device</label>
                  <select [(ngModel)]='feedback_device' formControlName="FeedbackDevice"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': fbsubmitted && q.FeedbackDevice.errors }">
                    <option [value]=null>Select</option>
                    <option *ngFor="let list of devices" value={{list}}>{{list}}</option>
                  </select>
                  <div *ngIf="fbsubmitted && q.FeedbackDevice.errors" class="invalid-feedback">
                    <div *ngIf="q.FeedbackDevice.errors.required">Device is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Brand</label>
                  <input type="text" [(ngModel)]="fb_brand" formControlName="FeedBackBrand"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': fbsubmitted && q.FeedBackBrand.errors }" />
                  <div *ngIf="fbsubmitted && q.FeedBackBrand.errors" class="invalid-feedback">
                    <div *ngIf="q.FeedBackBrand.errors.required">Brand is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Model</label>
                  <input type="text" [(ngModel)]="fb_model" formControlName="FeedbackModel"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': fbsubmitted && q.FeedbackModel.errors }" />
                  <div *ngIf="fbsubmitted && q.FeedbackModel.errors" class="invalid-feedback">
                    <div *ngIf="q.FeedbackModel.errors.required">Model is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Vendor ID</label>
                  <input type="text" [(ngModel)]="fb_vendor" formControlName="FeedbackVendor"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': fbsubmitted && q.FeedbackVendor.errors }" />
                  <div *ngIf="fbsubmitted && q.FeedbackVendor.errors" class="invalid-feedback">
                    <div *ngIf="q.FeedbackVendor.errors.required">Vendor ID is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">OSD</label>
                  <input type="text" [(ngModel)]="fb_osd" formControlName="FeedbackOSD"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': fbsubmitted && q.FeedbackOSD.errors }" />
                  <div *ngIf="fbsubmitted && q.FeedbackOSD.errors" class="invalid-feedback">
                    <div *ngIf="q.FeedbackOSD.errors.required">OSD is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">EDID</label>
                  <textarea rows="2" type="text" [(ngModel)]="fb_edid" formControlName="FeedbackEdid"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': fbsubmitted && q.FeedbackEdid.errors }"></textarea>
                  <div *ngIf="fbsubmitted && q.FeedbackEdid.errors" class="invalid-feedback">
                    <div *ngIf="q.FeedbackEdid.errors.required">EDID is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Codeset</label>
                  <input type="text" [(ngModel)]="fb_codeset" formControlName="FeedbackCodeset"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': fbsubmitted && q.FeedbackCodeset.errors }" />
                  <div *ngIf="fbsubmitted && q.FeedbackCodeset.errors" class="invalid-feedback">
                    <div *ngIf="q.FeedbackCodeset.errors.required">Codeset is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Search Type</label>
                  <input type="text" [(ngModel)]="fb_searchtype" formControlName="FeedbackSearchtype"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': fbsubmitted && q.FeedbackSearchtype.errors }" />
                  <div *ngIf="fbsubmitted && q.FeedbackSearchtype.errors" class="invalid-feedback">
                    <div *ngIf="q.FeedbackSearchtype.errors.required">Search Type is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Message</label>
                  <textarea rows="2" type="text" [(ngModel)]="fb_message" formControlName="FeedbackMessage"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': fbsubmitted && q.FeedbackMessage.errors }"></textarea>
                  <div *ngIf="fbsubmitted && q.FeedbackMessage.errors" class="invalid-feedback">
                    <div *ngIf="q.FeedbackMessage.errors.required">Message is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Status Flag</label>
                  <input type="text" [(ngModel)]="fb_statusflag" formControlName="FeedbackStatus"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': fbsubmitted && q.FeedbackStatus.errors }" />
                  <div *ngIf="fbsubmitted && q.FeedbackStatus.errors" class="invalid-feedback">
                    <div *ngIf="q.FeedbackStatus.errors.required">Status Flag is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">&nbsp;</div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
          <form [formGroup]="apiGenericLogForm" class="form-material" (ngSubmit)="onApiGenericSearchSubmit()"
            *ngIf="isGenericSearch">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Api Name</label>
                  <input type="text" [(ngModel)]="apiname" formControlName="ApiName"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': apiGenericsubmitted && s.ApiName.errors }" />
                  <div *ngIf="apiGenericsubmitted && s.ApiName.errors" class="invalid-feedback">
                    <div *ngIf="s.ApiName.errors.required">Api Name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Input</label>
                  <input type="text" [(ngModel)]="inputData" formControlName="Input"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': apiGenericsubmitted && s.Input.errors }" />
                  <div *ngIf="apiGenericsubmitted && s.Input.errors" class="invalid-feedback">
                    <div *ngIf="s.Input.errors.required">Input is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Output</label>
                  <input type="text" [(ngModel)]="outputData" formControlName="Output"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': apiGenericsubmitted && s.Output.errors }" />
                  <div *ngIf="apiGenericsubmitted && s.Output.errors" class="invalid-feedback">
                    <div *ngIf="s.Output.errors.required">Output is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-inline">
                  <label class="labelsubSpan col-form-label col-sm-4">Result</label>
                  <input type="text" [(ngModel)]="resultData" formControlName="Result"
                    class="form-control form-control-line col-sm-8"
                    [ngClass]="{ 'is-invalid': apiGenericsubmitted && s.Result.errors }" />
                  <div *ngIf="apiGenericsubmitted && s.Result.errors" class="invalid-feedback">
                    <div *ngIf="s.Result.errors.required">Result is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">&nbsp;</div>
            </div>
            <div class="form-group row text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--Tabslist-->
  <br />
  <div class="row">
    <div class="col-xl-12 col-md-12">
      <div class="tab tabView" role="tabpanel">
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a *ngFor="let tabs of tabslist;let i=index;" (click)="getTabName(tabs)" [ngClass]="{'active': i == 0}"
            class="nav-item nav-link" id="nav-home-tab{{i}}" data-toggle="tab" href="'#'{{tabs}}" role="tab"
            aria-controls="nav-home" aria-selected="true">{{tabs}}</a>
        </div>
        <div class="tab-content" *ngIf="isTabDataVisible">
          <div class="col-md-12">
            <br />
            <table class="table table-bordered" cellspacing="0" *ngIf="isRegisterTab">
              <thead>
                <tr>
                  <td>Guid</td>
                  <td>Checksum</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{guidData}}</td>
                  <td>{{checksumData}}</td>
                </tr>
              </tbody>
            </table>
            <p class="Bold" *ngIf="isCurrentDBTab">Current DB Version is <u>{{currentDBVersion}}</u></p>
            <p class="Bold" *ngIf="isLatestDBTab">Latest DB Version is <u>{{latestDBVersion}}</u></p>
            <p class="Bold" *ngIf="isDownlStatsTab">{{downstats}}</p>
            <p class="Bold" *ngIf="isGenericLogTab">{{genericlog}}</p>
            <table class="table table-bordered" cellspacing="0" *ngIf="isLoginTab">
              <thead>
                <tr>
                  <td>JWT Token</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="dotData">{{jwtToken}}</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-6" *ngIf="isBinVisible">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th *ngFor="let item of bin | keyvalue" class="formatStyle"> {{ item.key }} </th>
                    <th class="formatStyle">filecontent</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let item of bin | keyvalue"> {{ item.value }} </td>
                    <td title="Click Here to Download a Bin File"><i class="fa fa-download" (click)="downloadBin()"
                        aria-hidden="true"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6" *ngIf="isZipVisible">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th *ngFor="let item of zip | keyvalue" class="formatStyle"> {{ item.key }} </th>
                    <th class="formatStyle">filecontent</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td *ngFor="let item of zip | keyvalue"> {{ item.value }} </td>
                    <td title="Click Here to Download a Zip File"><i class="fa fa-download" (click)="downloadZip()"
                        aria-hidden="true"></i></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <table class="table table-bordered" cellspacing="0" *ngIf="isAutoSearchTab">
              <thead>
                <tr>
                  <td *ngFor="let item of autoHeadersResult" class="formatStyle">{{item}}</td>
                </tr>
              </thead>
              <tbody *ngFor="let item of autoResult">
                <tr>
                  <td>{{item.codesetnumber || "-"}}</td>
                  <td class="dotData">{{item.codesetbinary || "-"}}</td>
                  <td>{{item.checksum || "-"}}</td>
                  <td>{{item.brandid || "-"}}</td>
                  <td>{{item.brandname || "-"}}</td>
                  <td>{{item.searchresult || "-"}}</td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered" cellspacing="0" *ngIf="isModelSearchTab">
              <thead>
                <tr>
                  <td *ngFor="let item of modelHeadersResult" class="formatStyle">{{item}}</td>
                </tr>
              </thead>
              <tbody *ngFor="let item of modelResult">
                <tr>
                  <td>{{item.codesetnumber || "-"}}</td>
                  <td class="dotData">{{item.codesetbinary || "-"}}</td>
                  <td>{{item.checksum || "-"}}</td>
                  <td>{{item.brandid || "-"}}</td>
                  <td>{{item.brandname || "-"}}</td>
                  <td>{{item.searchresult || "-"}}</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-6" *ngIf="isDeltaSearchTab">
              <table class="table table-bordered" cellspacing="0">
                <thead>
                  <tr>
                    <td class="formatStyle">Codeset Number</td>
                    <td class="formatStyle">Codeset Binary </td>
                    <td class="formatStyle">Checksum</td>
                  </tr>
                </thead>
                <tbody *ngFor="let item of deltaArr">
                  <tr>
                    <td>{{item.codesetnumber || "-"}}</td>
                    <td class="dotData">{{item.codesetbinary || "-"}}</td>
                    <td>{{item.checksum || "-"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>


  <div class="row"><br />&nbsp;</div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise-fade-rotating"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

</div>